<br/>
<label> entrer latitude:
          <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
</label>
<br/>
<label> entrer longitude:
          <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required>
</label>
        <button type="button" (click)="setCenter()" class="btn btn-primary" [disabled]="form.invalid"> Go</button>


<agm-map [latitude]="latitude" [longitude]="longitude" (mapclick)="onChoseLocation(event)">
  <agm-marker [latitude]="latitude" [longitude]="longitude" ></agm-marker>
</agm-map>
